body{
    margin:0;
    background:#0b141a;
    color:white;
    font-family:Arial;
}

.chat{
    height:80vh;
    overflow:auto;
    padding:10px;
}

.msg{
    padding:10px;
    margin:5px;
    border-radius:10px;
    max-width:70%;
    background:#202c33;
}

.me{
    background:#005c4b;
    margin-left:auto;
}

.input{
    position:fixed;
    bottom:0;
    width:100%;
    background:#202c33;
    padding:10px;
}
