body {
    margin:0;
    font-family: Arial;
    background:#0b141a;
    color:white;
}

#app {
    max-width:400px;
    margin:auto;
}

#messages {
    height:400px;
    overflow:auto;
    background:#111;
    padding:10px;
}

.msg {
    background:#25d366;
    margin:5px;
    padding:10px;
    border-radius:10px;
}

input {
    width:70%;
    padding:10px;
}
