<!DOCTYPE html>
<html>

<head>

<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Zynko</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="header">

Zynko — {{username}}

<a href="/logout">Déconnexion</a>

</div>

<div class="messages">

{% for m in messages %}

<div class="bubble">

<b>{{m[0]}}</b> : {{m[1]}}

</div>

{% endfor %}

</div>

<form method="POST" class="send">

<input name="message" placeholder="Message">

<button>Envoyer</button>

</form>

</body>
</html>
