<!DOCTYPE html>
<html>

<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Zynko</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<h2>Créer un compte</h2>

<form method="POST">

<input name="username" placeholder="Pseudo" maxlength="20" required>

<input type="email" name="email" placeholder="Email" required>

<input type="password" name="password" placeholder="Mot de passe" required>

<button>S'inscrire</button>

</form>

<a href="/login">Connexion</a>

</body>
</html>
