<!DOCTYPE html>
<html lang="fr">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Créer un compte - Zynko</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<h2>Créer un compte</h2>

<form method="POST" action="/register">

<input 
type="text"
name="username"
placeholder="Pseudo"
maxlength="20"
required
>

<input 
type="email"
name="email"
placeholder="Email"
required
>

<input 
type="password"
name="password"
placeholder="Mot de passe"
required
>

<button type="submit">
S'inscrire
</button>

</form>

<br>

<a href="/login">Déjà un compte ? Se connecter</a>

</body>

</html>
